<%- include("header.ejs") %>

<!DOCTYPE html>
<html>
    <body>
        <div class="main-content">
            
              <!--Start of NavBar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Weather App</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              
                  <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Home
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Other</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </nav>
              <!--End of NavBar-->

              <h2 style="margin-top: 20px;">Cities</h2> <br>

              <div class="card bg-light mb-3" style="max-width: 20rem; height: 300px;">
                <div class="card-header"><%= weather.city %></div>
                <div class="card-body" style="height: 300px;">
                  <p class="card-text">Temperature:<%= weather.temperature %></p>
                  <p class="card-text">Latitude: <%= weather.latitude %></p>
                  <p class="card-text">Longitude: <%= weather.longitude %></p>
                  <p class="card-text">Description: <%= weather.description %>
                    <img src="http://openweathermap.org/img/w/<%=weather.icon%>.png" alt="Image" height="50" width="50">
                  </p>
                </div>
                
              </div>

              <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header"><%= weather.pcity %></div>
                <div class="card-body" style="height: 300px;">
                  <p class="card-text"><%= weather.ptemperature %></p>
                  <p class="card-text"><%= weather.platitude %></p>
                  <p class="card-text"><%= weather.plongitude %></p>
                  <p class="card-text"><%= weather.pdescription %></p>
                </div>
              </div>

              <div class="card bg-light mb-3" style="max-width: 20rem;">
                
              </div>


        </div>
    </body>
</html>